{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-success text-white">
          <h2 class="mb-0">Actualizar Carrera</h2>
        </div>
        <div class="card-body">
          <form action="/actualizarCarreraANCC/" method="post" enctype="multipart/form-data" id="frm_new_carrera">
            {% csrf_token %}
            <input type="hidden" name="idCarreraANCC" value="{{carrera.idCarreraANCC}}">

            <div class="mb-3">
              <label for="directorCarreraANCC" class="form-label"><b>Director de Carrera</b></label>
              <input type="text" name="directorCarreraANCC" id="directorCarreraANCC" value="{{carrera.directorCarreraANCC}}" placeholder="Ingrese el director de la carrera" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="nombreCarreraANCC" class="form-label"><b>Nombre de Carrera</b></label>
              <input type="text" name="nombreCarreraANCC" id="nombreCarreraANCC" value="{{carrera.nombreCarreraANCC}}" placeholder="Ingrese el nombre de la carrera" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="perfilEgresoCarrera" class="form-label"><b>Perfil de Egreso</b></label>
              <textarea name="perfilEgresoCarrera" id="perfilEgresoCarrera" rows="3" class="form-control" placeholder="Ingrese el perfil de egreso de la carrera" required>{{carrera.perfilEgresoCarrera}}</textarea>
            </div>

            <div class="mb-3">
              <label for="duracionCarrera" class="form-label"><b>Años que dura la carrera</b></label>
              <input type="number" name="duracionCarrera" id="duracionCarrera" value="{{carrera.duracionCarrera}}" placeholder="Ingrese la duración de la carrera en años" class="form-control" required>
            </div>

            <div class="mb-3">
              <label for="logoCarreraANCC" class="form-label"><b>Logo de Carrera</b></label>
              <input type="file" accept="image/*" class="form-control rounded-5 m-1" name="logoCarreraANCC" id="logoCarreraANCC" />
              {% if carrera.logoCarreraANCC %}
                <a href="{{carrera.logoCarreraANCC.url}}" target="_blank">
                  <img src="{{carrera.logoCarreraANCC.url}}" alt="Logo de Carrera" width="100" height="50"></a>
              {% endif %}
            </div>
            <script>
              $(document).ready(function () {
                $("#logoCarreraANCC").fileinput({
                  language: 'es',
                });
              });
            </script>
            <div class="text-center">
              <button type="submit" class="btn btn-success">Actualizar</button>
              <a href="/" class="btn btn-danger">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $.validator.addMethod("lettersonly", function (value, element) {
    return this.optional(element) || /^[a-zA-Z\s]+$/i.test(value);
  }, "Ingrese solo letras (con espacios) en este campo");


    $("#frm_new_carrera").validate({
      rules: {
        "nombreCarreraANCC": {
          required: true,
          lettersonly: true
        },
        "directorCarreraANCC": {
          required: true,
          lettersonly: true
        },
        "perfilEgresoCarrera": {
          required: true,
          lettersonly: true
        },
        "duracionCarrera": {
          required: true,
          number: true
        },

      },
      messages: {
        "nombreCarreraANCC": {
          required: "Por favor ingrese el nombre de la carrera",
          lettersonly: "Solo letras"
        },
        "directorCarreraANCC": {
          required: "Por favor ingrese el nombre del director de la carrera",
          lettersonly: "Solo letras"
        },
        "perfilEgresoCarrera": {
          required: "Por favor ingrese el perfil de egreso de la carrera",
          lettersonly: "Solo letras"
        },
        "duracionCarrera": {
          required: "Por favor ingrese la duración de la carrera en años",
          number: "Solo números"
        },

      }
    });

</script>



{% endblock %}
