{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h2 class="mb-0">Actualizar Asignatura</h2>
                </div>
                <div class="card-body">
                    <form action="/actualizarAsignaturaANCC/" method="post" enctype="multipart/form-data" id="frm_new_asignatura">
                        {% csrf_token %}
                        <input type="hidden" name="idAsignaturaANCC" value="{{ asignatura.idAsignaturaANCC }}">


                            <div class="mb-3">
                              <label for="cursoANCC" class="form-label"><b>Seleccione la Carrera:</b></label>
                              <br>
                              <select name="cursoANCC" id="cursoNCC" data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required>
                                {% for curso in cursoANCC %}
                                  <option value="{{ curso.idCursoANCC }}">{{ curso.nivelCursoANCC }}-{{ curso.aulaCursoANCC }}</option>
                                {% endfor %}
                              </select>
                            </div>

                        <!-- Agregar aquí los campos restantes del modelo AsignaturaANCC -->

                        <div class="mb-3">
                            <label for="nombreAsignaturaANCC" class="form-label"><b>Nombre de Asignatura</b></label>
                            <input type="text" name="nombreAsignaturaANCC" id="nombreAsignaturaANCC" value="{{ asignatura.nombreAsignaturaANCC }}" placeholder="Ingrese el nombre de la asignatura" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="creditoAsignaturaANCC" class="form-label"><b>Créditos de Asignatura</b></label>
                            <input type="number" name="creditoAsignaturaANCC" id="creditoAsignaturaANCC" value="{{ asignatura.creditoAsignaturaANCC }}" placeholder="Ingrese los créditos de la asignatura" class="form-control" required>
                        </div>



                        <div class="mb-3">
                            <label for="profesorAsignaturaANCC" class="form-label"><b>Profesor de Asignatura</b></label>
                            <input type="text" name="profesorAsignaturaANCC" id="profesorAsignaturaANCC" value="{{ asignatura.profesorAsignaturaANCC }}" placeholder="Ingrese el profesor de la asignatura" class="form-control" required>
                        </div>



                        <div class="mb-3">
                            <label for="horarioAsignaturaANCC" class="form-label"><b>Horario de Asignatura</b></label>
                            <input type="text" name="horarioAsignaturaANCC" id="horarioAsignaturaANCC" value="{{ asignatura.horarioAsignaturaANCC }}"
                            placeholder="Ingrese el horario de la asignatura" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="horasTotalAsignaturaANCC" class="form-label"><b>Horas Totales de Asignatura</b></label>
                            <input type="number" name="horasTotalAsignaturaANCC" id="horasTotalAsignaturaANCC"
                            value="{{ asignatura.horasTotalAsignaturaANCC }}" placeholder="Ingrese las horas totales de la asignatura" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="fechaInicioAsignaturaANCC" class="form-label"><b>Fecha de Inicio</b></label>
                            <input type="date" name="fechaInicioAsignaturaANCC" id="fechaInicioAsignaturaANCC"
                            value="{{ asignatura.fechaInicioAsignaturaANCC|date:'Y-m-d' }}" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="fechaFinalizacionAsignaturaANCC" class="form-label"><b>Fecha de Finalización</b></label>
                            <input type="date" name="fechaFinalizacionAsignaturaANCC" id="fechaFinalizacionAsignaturaANCC"
                             value="{{ asignatura.fechaFinalizacionAsignaturaANCC|date:'Y-m-d' }}" class="form-control" required>
                        </div>

                                                <div class="mb-3">
                                                  <label for="logoCarreraANCC" class="form-label"><b>Sílabo de Asignatura</b></label>
                                                  <input type="file" accept=".pdf" class="form-control rounded-5 m-1" name="silaboAsignaturaANCC" id="silaboAsignaturaANCC" />
                                                  {% if asignatura.silaboAsignaturaANCC %}
                                                    <a href="{{asignatura.silaboAsignaturaANCC.url}}" target="_blank">
                                                      <img src="{{asignatura.silaboAsignaturaANCC.url}}" alt="Silabo" width="100" height="50"></a>
                                                  {% endif %}
                                                </div>
                                                <script>
                                                  $(document).ready(function () {
                                                    $("#silaboAsignaturaANCC").fileinput({
                                                      language: 'es',
                                                    });
                                                  });
                                                </script>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Actualizar</button>
                            <a href="/" class="btn btn-danger">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
  $.validator.addMethod("lettersonly", function (value, element) {
    return this.optional(element) || /^[a-zA-Z\s]+$/i.test(value);
  }, "Ingrese solo letras (con espacios) en este campo");

  $("#frm_new_asignatura").validate({
    rules: {
      "nombreAsignaturaANCC": {
        required: true,
        lettersonly: true

      },
      "creditoAsignaturaANCC": {
        required: true,
        number: true
      },
      "fechaInicioAsignaturaANCC": {
        required: true,
        date: true
      },
      "fechaFinalizacionAsignaturaANCC": {
        required: true,
        date: true
      },
      "profesorAsignaturaANCC": {
        required: true,
        lettersonly: true
      },

      "horarioAsignaturaANCC": {
        required: true
      },
      "horasTotalAsignaturaANCC": {
        required: true,
        number: true
      },
      "cursoANCC": {
        required: true
      }
    },
    messages: {

      // Mensajes para los campos de AsignaturaANCC
      "nombreAsignaturaANCC": {
        required: "Por favor ingrese el nombre de la asignatura",
        lettersonly: "Solo letras"

      },
      "creditoAsignaturaANCC": {
        required: "Por favor ingrese el número de créditos",
        number: "Solo números"
      },
      "fechaInicioAsignaturaANCC": {
        required: "Por favor ingrese la fecha de inicio",
        date: "Ingrese una fecha válida"
      },
      "fechaFinalizacionAsignaturaANCC": {
        required: "Por favor ingrese la fecha de finalización",
        date: "Ingrese una fecha válida"
      },
      "profesorAsignaturaANCC": {
        required: "Por favor ingrese el nombre del profesor",
        lettersonly: "Solo letras"
      },

      "horarioAsignaturaANCC": {
        required: "Por favor ingrese el horario"
      },
      "horasTotalAsignaturaANCC": {
        required: "Por favor ingrese el total de horas",
        number: "Solo números"
      },
      "cursoANCC": {
        required: "Por favor seleccione el curso"
      }
    }
  });
</script>




{% endblock %}
