{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header bg-success text-white">
            <h2 class="mb-0">Actualizar Curso</h2>
          </div>
          <div class="card-body">
            <form action="/actualizarCursoANCC/" method="post" enctype="multipart/form-data" id="frm_actualizar_curso">
              {% csrf_token %}
              <input type="hidden" name="idCursoANCC" value="{{curso.idCursoANCC}}">

              <div class="mb-3">
                <label for="carreraANCC" class="form-label"><b>Seleccione la Carrera:</b></label>
                <br>
                <select name="carreraANCC" id="carreraANCC" data-live-search="true" data-live-search-style="startsWith" class="selectpicker" required>
                  {% for carrera in carreraANCC %}
                    <option value="{{ carrera.idCarreraANCC }}">{{ carrera.nombreCarreraANCC }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="mb-3">
                <label for="nivelCursoANCC" class="form-label"><b>Nivel del Curso</b></label>
                <input type="text" name="nivelCursoANCC" id="nivelCursoANCC" value="{{curso.nivelCursoANCC}}" placeholder="Ingrese el nivel del curso" class="form-control" required>
              </div>

              <div class="mb-3">
                <label for="descripcionCursoANCC" class="form-label"><b>Descripción del Curso</b></label>
                <textarea name="descripcionCursoANCC" id="descripcionCursoANCC" rows="3" class="form-control" placeholder="Ingrese la descripción del curso" required>{{curso.descripcionCursoANCC}}</textarea>
              </div>

              <div class="mb-3">
                <label for="aulaCursoANCC" class="form-label"><b>Aula del Curso</b></label>
                <input type="text" name="aulaCursoANCC" id="aulaCursoANCC" value="{{curso.aulaCursoANCC}}" placeholder="Ingrese el aula del curso" class="form-control" required>
              </div>

              <div class="mb-3">
                <label for="modalidadCursoANCC" class="form-label"><b>Modalidad del Curso</b></label>
                <input type="text" name="modalidadCursoANCC" id="modalidadCursoANCC" value="{{curso.modalidadCursoANCC}}" placeholder="Ingrese la modalidad del curso" class="form-control" required>
              </div>

              <div class="mb-3">
                <label for="promedioCursoANCC" class="form-label"><b>Número de Cursos</b></label>
                <input type="number" name="promedioCursoANCC" id="promedioCursoANCC" value="{{curso.promedioCursoANCC}}" placeholder="Ingrese el promedio del curso" class="form-control" required>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-success">Actualizar</button>
                <a href="/" class="btn btn-danger">Cancelar</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $.validator.addMethod("lettersonly", function (value, element) {
      return this.optional(element) || /^[a-zA-Z\s]+$/i.test(value);
    }, "Ingrese solo letras (con espacios) en este campo");

    $("#frm_actualizar_curso").validate({
      rules: {
        "nivelCursoANCC": {
          required: true,
          number: true
        },
        "descripcionCursoANCC": {
          required: true,
          lettersonly: true
        },
        "aulaCursoANCC": {
          required: true,
          lettersonly: true
        },
        "modalidadCursoANCC": {
          required: true,
          lettersonly: true
        },
        "promedioCursoANCC": {
          required: true,
          number: true
        },
        "carreraANCC": {
          required: true
        }
      },
      messages: {
        "nivelCursoANCC": {
          required: "Por favor ingrese el nivel del curso",
          number: "Solo números"
        },
        "descripcionCursoANCC": {
          required: "Por favor ingrese la descripción del curso",
          lettersonly: "Solo letras"
        },
        "aulaCursoANCC": {
          required: "Por favor ingrese el aula del curso",
          lettersonly: "Solo letras"
        },
        "modalidadCursoANCC": {
          required: "Por favor ingrese la modalidad del curso",
          lettersonly: "Solo letras"
        },
        "promedioCursoANCC": {
          required: "Por favor ingrese el promedio del curso",
          number: "Solo números"
        },
        "carreraANCC": {
          required: "Por favor seleccione la carrera"
        }
      }
    });
  </script>
{% endblock %}
