{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
  {% block contenido_ajax %}
    <!DOCTYPE html>
    <html lang="en" dir="ltr">
      <head>
      
      </head>
      <body>
        <div class="container">
          <div class="row justify-content-center mt-5">
            <div class="col-md-6">
              <center><h2>Enviar Correo</h2></center>
              <center>
                <form id="frm_nuevo_correo" method="post" action="{% url 'enviar_correo' %}">
                  {% csrf_token %}
                  <label for="destinatario">Destinatario:</label><br>
                  <input class="input1 form-control" type="email" name="destinatario" placeholder="Ingrese correo destinatario"><br>
                  <label for="asunto">Asunto:</label><br>
                  <input class="input1 form-control" type="text" name="asunto" placeholder="Ingrese un asunto"><br>
                  <label for="cuerpo">Mensaje:</label><br>
                  <textarea class="form-control" name="cuerpo" placeholder="Ingrese un mensaje"></textarea><br><br>
                  <input class="input1 btn btn-primary" type="submit" value="Enviar Correo">
                </form>
              </center><br><br>
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-success mt-3" role="alert">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </body>
    </html>

    <script type="text/javascript">
      $(document).ready(function() {
          $("#frm_nuevo_correo").validate({
              rules: {
                  "destinatario": {
                      required: true,
                      email: true
                  },
                  "asunto": {
                      required: true
                  },
                  "cuerpo": {
                      required: true,
                  }
              },
              messages: {
                  "destinatario": {
                      required: "Por favor ingrese el destinatario",
                      email: "Por favor ingrese un correo electrónico válido"
                  },
                  "asunto": {
                      required: "Debe ingresar el asunto"
                  },
                  "cuerpo": {
                      required: "Debe ingresar el mensaje"
                  }
              }
          });
      });
    </script>
  {% endblock %}
  {% block scripts %}
    {{ block.super }}
  {% endblock %}
{% endblock %}
