{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4">Listado de Cursos</h1>
      <form action="/guardarCursoANCC/" method="post" enctype="multipart/form-data" id="frm_new_curso">
        {% csrf_token %}

        <div class="mb-3">
          <label for="carreraANCC" class="form-label"><b>Seleccionar la Carrera</b></label>
          <select name="carreraANCC" id="carreraANCC" data-live-search="true" data-live-search-style="startsWith" class="selectpicker form-control" required>
            <option value="">Seleccione</option>
            {% for carrera in carreraANCC %}
            <option value="{{ carrera.idCarreraANCC }}">{{ carrera.nombreCarreraANCC }} - {{ carrera.directorCarreraANCC }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="mb-3">
          <label for="nivelCursoANCC" class="form-label"><b>Nivel del Curso:</b></label>
          <input type="text" name="nivelCursoANCC" id="nivelCursoANCC" placeholder="Ingrese el nivel del curso" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="descripcionCursoANCC" class="form-label"><b>Descripción del Curso:</b></label>
          <textarea name="descripcionCursoANCC" rows="3" class="form-control" id="descripcionCursoANCC" placeholder="Ingrese la descripción del curso"></textarea>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="aulaCursoANCC" class="form-label"><b>Aula del Curso:</b></label>
              <input type="text" name="aulaCursoANCC" id="aulaCursoANCC" placeholder="Ingrese el aula del curso" class="form-control" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="modalidadCursoANCC" class="form-label"><b>Modalidad del Curso:</b></label>
              <input type="text" name="modalidadCursoANCC" id="modalidadCursoANCC" placeholder="Ingrese la modalidad del curso" class="form-control" required>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="promedioCursoANCC" class="form-label"><b>Número de Cursos:</b></label>
          <input type="number" name="promedioCursoANCC" id="promedioCursoANCC" placeholder="Ingrese el promedio del curso" class="form-control" step="0.01" required>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary mr-2">Guardar</button>
          <button type="button" class="btn btn-danger">Cancelar</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-11">
      <table class="table" id="tbl_cursosANCC">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nivel</th>
            <th>Descripción</th>
            <th>Aula</th>
            <th>Modalidad</th>
            <th>Promedio</th>
            <th>Carrera</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for curso in cursoANCC %}
          <tr>
            <td>{{ curso.idCursoANCC }}</td>
            <td>{{ curso.nivelCursoANCC }}</td>
            <td>{{ curso.descripcionCursoANCC }}</td>
            <td>{{ curso.aulaCursoANCC }}</td>
            <td>{{ curso.modalidadCursoANCC }}</td>
            <td>{{ curso.promedioCursoANCC }}</td>
            <td>{{ curso.carreraANCC.nombreCarreraANCC }}</td>
            <td>
              <a href="/editarCursoANCC/{{ curso.idCursoANCC }}" class="btn btn-warning">Editar</a>
              <a href="javascript:void(0)" onclick="eliminarCursoANCC('/eliminarCursoANCC/{{ curso.idCursoANCC }}', '{{ asignaturaANCC.tieneRelacion }}');" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  function eliminarCursoANCC(url, tieneRelacion) {
    if (tieneRelacion) {
      iziToast.error({
        title: 'Error',
        message: 'No se puede eliminar el curso seleccionado porque está relacionado .',
        position: 'topRight'
      });
    } else {
      iziToast.question({
        timeout: 15000,
        close: true,
        overlay: true,
        displayMode: 'once',
        id: 'question',
        zindex: 999,
        title: 'CONFIRMACIÓN',
        message: '¿Está seguro de eliminar el curso seleccionado?',
        position: 'center',
        buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
            window.location.href = url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          }],
        ]
      });
    }
  }
</script>

  <script>
    $.validator.addMethod("lettersonly", function (value, element) {
      return this.optional(element) || /^[a-zA-Z\s]+$/i.test(value);
    }, "Ingrese solo letras (con espacios) en este campo");

    $("#frm_new_curso").validate({
      rules: {
        "nivelCursoANCC": {
          required: true,
          number: true
        },
        "descripcionCursoANCC": {
          required: true,
          lettersonly: true
        },
        "aulaCursoANCC": {
          required: true,
          lettersonly: true
        },
        "modalidadCursoANCC": {
          required: true,
          lettersonly: true
        },
        "promedioCursoANCC": {
          required: true,
          number: true
        },
        "carreraANCC": {
          required: true
        }
      },
      messages: {
        "nivelCursoANCC": {
          required: "Por favor ingrese el nivel del curso",
          number: "Solo números"
        },
        "descripcionCursoANCC": {
          required: "Por favor ingrese la descripción del curso",
          lettersonly: "Solo letras"
        },
        "aulaCursoANCC": {
          required: "Por favor ingrese el aula del curso",
          lettersonly: "Solo letras"
        },
        "modalidadCursoANCC": {
          required: "Por favor ingrese la modalidad del curso",
          lettersonly: "Solo letras"
        },
        "promedioCursoANCC": {
          required: "Por favor ingrese el promedio del curso",
          number: "Solo números"
        },
        "carreraANCC": {
          required: "Por favor seleccione la carrera"
        }
      }
    });
  </script>


<br>
<div class="d-flex justify-content-center">
  <button id="toggleChartButton" onclick="toggleChart()" class="btn btn-info">Mostrar/ocultar gráfico</button>
</div>

<div id="chartContainer" style="width: 50%; margin: auto; border: 2px solid black; padding: 10px; display: none;">
  <canvas id="myChart"></canvas>
</div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const ctx = document.getElementById('myChart');
      const tiposSet = new Set();
      const clientesTipo = {};
      {% for curso in cursoANCC %}
        tiposSet.add("{{ curso.carrera.nivelCursoANCC }}");
        if (!clientesTipo["{{ curso.carrera.nivelCursoANCC }}"]) {
          clientesTipo["{{ curso.carrera.nivelCursoANCC }}"] = 1;
        } else {
          clientesTipo["{{ curso.carrera.nivelCursoANCC }}"] += 1;
        }
      {% endfor %}
      const tiposArray = Array.from(tiposSet);
      const posiciones = tiposArray.map((tipo, index) => ({ x: index, y: clientesTipo[tipo] || 0 }));
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: tiposArray,
          datasets: [{
            label: 'Cantidad de Aulas',
            data: posiciones.map(posicion => posicion.y),
            backgroundColor: 'rgba(75, 192, 192, 0.5)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1,
          }]
        },
        options: {
          scales: {
            x: {
              type: 'category',
              position: 'bottom',
            },
            y: {
              beginAtZero: true,
              max: 10,
              stepSize: 1,
            }
          }
        }
      });
      window.toggleChart = function() {
        const chartContainer = document.getElementById('chartContainer');
        if (chartContainer.style.display === 'none') {
          chartContainer.style.display = 'block';
        } else {
          chartContainer.style.display = 'none';
        }
      };
    });
  </script>
  <script>
    $(document).ready(function () {
      // DataTable initialization
      $('#tbl_cursosANCC').DataTable({
        dom: 'Bfrtip',
        buttons: [
          {
            extend: 'pdfHtml5',
            messageTop: 'PDF De Curso.'
          },
          'print',
          'csv'
        ]
      });
    });
  </script>
{% endblock %}
