{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}

<br>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4">Listado de Asignaturas</h1>
      <form action="/guardarAsignaturaANCC/" method="post" enctype="multipart/form-data" id="frm_new_asignatura">
        {% csrf_token %}
        <div class="mb-3">
          <label for="cursoANCC" class="form-label"><b>Seleccione la carrera</b></label>
          <select name="cursoANCC" id="cursoANCC" data-live-search="true" data-live-search-style="startsWith" class="selectpicker form-control" required>
            <option value="">Seleccione</option>
            {% for curso in cursoANCC %}
              <option value="{{ curso.idCursoANCC }}">{{ curso.nivelCursoANCC }} - {{ curso.aulaCursoANCC }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="nombreAsignaturaANCC" class="form-label"><b>Nombre de la Asignatura:</b></label>
          <input type="text" name="nombreAsignaturaANCC" id="nombreAsignaturaANCC" placeholder="Ingrese el nombre de la asignatura" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="creditoAsignaturaANCC" class="form-label"><b>Créditos:</b></label>
          <input type="number" name="creditoAsignaturaANCC" id="creditoAsignaturaANCC" placeholder="Ingrese la cantidad de créditos" class="form-control" required>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="fechaInicioAsignaturaANCC" class="form-label"><b>Fecha de Inicio:</b></label>
            <input type="date" name="fechaInicioAsignaturaANCC" id="fechaInicioAsignaturaANCC" class="form-control" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="fechaFinalizacionAsignaturaANCC" class="form-label"><b>Fecha de Finalización:</b></label>
            <input type="date" name="fechaFinalizacionAsignaturaANCC" id="fechaFinalizacionAsignaturaANCC" class="form-control" required>
          </div>
        </div>
        <div class="mb-3">
          <label for="profesorAsignaturaANCC" class="form-label"><b>Profesor de la Asignatura:</b></label>
          <input type="text" name="profesorAsignaturaANCC" id="profesorAsignaturaANCC" placeholder="Ingrese el nombre del profesor" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="horarioAsignaturaANCC" class="form-label"><b>Horario:</b></label>
          <input type="text" name="horarioAsignaturaANCC" id="horarioAsignaturaANCC" placeholder="Ingrese el horario de la asignatura" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="horasTotalAsignaturaANCC" class="form-label"><b>Horas Totales:</b></label>
          <input type="number" name="horasTotalAsignaturaANCC" id="horasTotalAsignaturaANCC" placeholder="Ingrese la cantidad de horas totales" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="silaboAsignaturaANCC" class="form-label"><b>Sílabo:</b></label>
          <input type="file" name="silaboAsignaturaANCC" accept=".pdf" id="silaboAsignaturaANCC" class="form-control" required>
        </div>
        <script>
          $(document).ready(function () {
            $("#silaboAsignaturaANCC").fileinput({
              language: 'es',
            });
          });
        </script>
        <div class="text-center">
          <button type="submit" class="btn btn-primary mr-2">Guardar</button>
          <button type="button" class="btn btn-danger">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-11">
      <table class="table" id="tbl_asignaturasANCC">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Créditos</th>
            <th>Inicio</th>
            <th>Finalización</th>
            <th>Profesor</th>
            <th>Horario</th>
            <th>Horas Totales</th>
            <th>Silabo</th>
            <th>Curso</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for asignatura in asignaturaANCC %}
          <tr>
            <td>{{ asignatura.idAsignaturaANCC }}</td>
            <td>{{ asignatura.nombreAsignaturaANCC }}</td>
            <td>{{ asignatura.creditoAsignaturaANCC }}</td>
            <td>{{ asignatura.fechaInicioAsignaturaANCC }}</td>
            <td>{{ asignatura.fechaFinalizacionAsignaturaANCC }}</td>
            <td>{{ asignatura.profesorAsignaturaANCC }}</td>
            <td>{{ asignatura.horarioAsignaturaANCC }}</td>
            <td>{{ asignatura.horasTotalAsignaturaANCC }}</td>
            <td>{{ asignatura.silaboAsignaturaANCC }}</td>
            <td>{{ asignatura.cursoANCC.nivelCursoANCC }} - {{ asignatura.cursoANCC.descripcionCursoANCC }}</td>
            <td>
              <a href="/editarAsignaturaANCC/{{ asignatura.idAsignaturaANCC }}" class="btn btn-warning">Editar</a>
              <a href="javascript:void(0)" onclick="eliminarAsignaturaANCC('/eliminarAsignaturaANCC/{{ asignatura.idAsignaturaANCC }}');" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

  <script>
    function eliminarAsignaturaANCC(url, tieneRelacion) {
      if (tieneRelacion) {
        iziToast.error({
          title: 'Error',
          message: 'No se puede eliminar el curso seleccionado porque está relacionado con otros elementos.',
          position: 'topRight'
        });
      } else {
        iziToast.question({
          timeout: 15000,
          close: true,
          overlay: true,
          displayMode: 'once',
          id: 'question',
          zindex: 999,
          title: 'CONFIRMACIÓN',
          message: '¿Está seguro de eliminar el curso seleccionado?',
          position: 'center',
          buttons: [
            ['<button><b>SI</b></button>', function (instance, toast) {
              instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
              window.location.href = url;
            }, true],
            ['<button>NO</button>', function (instance, toast) {
              instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
            }],
          ]
        });
      }
    }
  </script>
<script>
  $.validator.addMethod("lettersonly", function (value, element) {
    return this.optional(element) || /^[a-zA-Z\s]+$/i.test(value);
  }, "Ingrese solo letras (con espacios) en este campo");

  $("#frm_new_asignatura").validate({
    rules: {
      "nombreAsignaturaANCC": {
        required: true,
        lettersonly: true

      },
      "creditoAsignaturaANCC": {
        required: true,
        number: true
      },
      "fechaInicioAsignaturaANCC": {
        required: true,
        date: true
      },
      "fechaFinalizacionAsignaturaANCC": {
        required: true,
        date: true
      },
      "profesorAsignaturaANCC": {
        required: true,
        lettersonly: true
      },
      "silaboAsignaturaANCC": {
        required: true
      },
      "horarioAsignaturaANCC": {
        required: true
      },
      "horasTotalAsignaturaANCC": {
        required: true,
        number: true
      },
      "cursoANCC": {
        required: true
      }
    },
    messages: {

      // Mensajes para los campos de AsignaturaANCC
      "nombreAsignaturaANCC": {
        required: "Por favor ingrese el nombre de la asignatura",
        lettersonly: "Solo letras"

      },
      "creditoAsignaturaANCC": {
        required: "Por favor ingrese el número de créditos",
        number: "Solo números"
      },
      "fechaInicioAsignaturaANCC": {
        required: "Por favor ingrese la fecha de inicio",
        date: "Ingrese una fecha válida"
      },
      "fechaFinalizacionAsignaturaANCC": {
        required: "Por favor ingrese la fecha de finalización",
        date: "Ingrese una fecha válida"
      },
      "profesorAsignaturaANCC": {
        required: "Por favor ingrese el nombre del profesor",
        lettersonly: "Solo letras"
      },
      "silaboAsignaturaANCC": {
        required: "Por favor seleccione el silabo"
      },
      "horarioAsignaturaANCC": {
        required: "Por favor ingrese el horario"
      },
      "horasTotalAsignaturaANCC": {
        required: "Por favor ingrese el total de horas",
        number: "Solo números"
      },
      "cursoANCC": {
        required: "Por favor seleccione la asignatura"
      }
    }
  });
</script>

<script>
  $(document).ready(function () {
    $('#tbl_carrerasANCC').DataTable({
      dom: 'Bfrtip',
      buttons: [
        {
          extend: 'pdfHtml5',
          messageTop: 'PDF created by PDFMake with Buttons for DataTables.'
        },
        'print',
        'csv'
      ]
    });
  });
</script>
<div class="d-flex justify-content-center">
  <button id="toggleChartButton" onclick="toggleChart()" class="btn btn-info">Mostrar/ocultar gráfico</button>
</div>

<div id="chartContainer" style="width: 50%; margin: auto; border: 2px solid black; padding: 10px; display: none;">
  <canvas id="myChart"></canvas>
</div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const ctx = document.getElementById('myChart');
      const tiposSet = new Set();
      const clientesTipo = {};
      {% for asignatura in asignaturaANCC %}
        tiposSet.add("{{ asignatura.curso.nombreAsignaturaANCC }}");
        if (!clientesTipo["{{ asignatura.curso.nombreAsignaturaANCC }}"]) {
          clientesTipo["{{ asignatura.carrcursoera.nombreAsignaturaANCC }}"] = 1;
        } else {
          clientesTipo["{{ asignatura.curso.nombreAsignaturaANCC }}"] += 1;
        }
      {% endfor %}
      const tiposArray = Array.from(tiposSet);
      const posiciones = tiposArray.map((tipo, index) => ({ x: index, y: clientesTipo[tipo] || 0 }));
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: tiposArray,
          datasets: [{
            label: 'Cantidad de Aulas',
            data: posiciones.map(posicion => posicion.y),
            backgroundColor: 'rgba(75, 192, 192, 0.5)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1,
          }]
        },
        options: {
          scales: {
            x: {
              type: 'category',
              position: 'bottom',
            },
            y: {
              beginAtZero: true,
              max: 10,
              stepSize: 1,
            }
          }
        }
      });
      window.toggleChart = function() {
        const chartContainer = document.getElementById('chartContainer');
        if (chartContainer.style.display === 'none') {
          chartContainer.style.display = 'block';
        } else {
          chartContainer.style.display = 'none';
        }
      };
    });
  </script>

{% endblock %}
