{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<br>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4">Listado de Carreras</h1>
      <form action="/guardarCarreraANCC/" method="post" enctype="multipart/form-data" id="frm_new_carrera">
        {% csrf_token %}
        <div class="mb-3">
          <label for="nombreCarreraANCC" class="form-label"><b>Nombre de Carrera:</b></label>
          <input type="text" name="nombreCarreraANCC" id="nombreCarreraANCC" placeholder="Ingrese el nombre de la carrera" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="directorCarreraANCC" class="form-label"><b>Director de Carrera:</b></label>
          <input type="text" name="directorCarreraANCC" id="directorCarreraANCC" placeholder="Ingrese el nombre del director de carrera" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="perfilEgresoCarrera" class="form-label"><b>Descripción:</b></label>
          <textarea name="perfilEgresoCarrera" rows="3" class="form-control" id="perfilEgresoCarrera" placeholder="Ingrese el perfil de egreso de la carrera" required></textarea>
        </div>
        <div class="mb-3">
          <label for="duracionCarrera" class="form-label"><b>Años que dura la carrera:</b></label>
          <input type="number" name="duracionCarrera" id="duracionCarrera" placeholder="Ingrese la duración de la carrera en años" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="logoCarreraANCC" class="form-label"><b>Logo de Carrera:</b></label>
          <input type="file" name="logoCarreraANCC" accept="image/*" id="logoCarreraANCC" class="form-control" required>
        </div>
        <script>
          $(document).ready(function () {
            $("#logoCarreraANCC").fileinput({
              language: 'es',
            });
          });
        </script>
        <div class="text-center">
          <button type="submit" class="btn btn-primary mr-2">Guardar</button>
          <button type="reset" class="btn btn-danger">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-11">
      <table class="table" id="tbl_carrerasANCC">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Director</th>
            <th>Perfil de Egreso</th>
            <th>Duración</th>
            <th>Logo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for carrera in carreraANCC %}
          <tr>
            <td>{{ carrera.idCarreraANCC }}</td>
            <td>{{ carrera.nombreCarreraANCC }}</td>
            <td>{{ carrera.directorCarreraANCC }}</td>
            <td>{{ carrera.perfilEgresoCarrera }}</td>
            <td>{{ carrera.duracionCarrera }}</td>
            <td>
              {% if carrera.logoCarreraANCC %}
              <img src="{{ carrera.logoCarreraANCC.url }}" alt="Logo de Carrera" height="50px">
              {% else %}
              <b>N/A</b>
              {% endif %}
            </td>
            <td>
              <a href="/editarCarreraANCC/{{ carrera.idCarreraANCC }}" class="btn btn-warning">Editar</a>
              <a href="javascript:void(0)" onclick="eliminarCarreraANCC('/eliminarCarreraANCC/{{ carrera.idCarreraANCC }}', '{{ carreraANCC.tieneRelacion }}');" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  function eliminarCarreraANCC(url, tieneRelacion) {
    if (tieneRelacion) {
      iziToast.error({
        title: 'Error',
        message: 'No se puede eliminar la carrera seleccionado porque está relacionado.',
        position: 'topRight'
      });
    } else {
      iziToast.question({
        timeout: 15000,
        close: true,
        overlay: true,
        displayMode: 'once',
        id: 'question',
        zindex: 999,
        title: 'CONFIRMACIÓN',
        message: '¿Está seguro de eliminar el curso seleccionado?',
        position: 'center',
        buttons: [
          ['<button><b>SI</b></button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
            window.location.href = url;
          }, true],
          ['<button>NO</button>', function (instance, toast) {
            instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          }],
        ]
      });
    }
  }
</script>


<script>
  $.validator.addMethod("lettersonly", function (value, element) {
    return this.optional(element) || /^[a-zA-Z\s]+$/i.test(value);
  }, "Ingrese solo letras (con espacios) en este campo");

  $("#frm_new_carrera").validate({
    rules: {
      "nombreCarreraANCC": {
        required: true,
        lettersonly: true
      },
      "directorCarreraANCC": {
        required: true,
        lettersonly: true
      },
      "perfilEgresoCarrera": {
        required: true,
        lettersonly: true
      },
      "duracionCarrera": {
        required: true,
        number: true
      },
      "logoCarreraANCC": {
        required: true
      }
    },
    messages: {
      "nombreCarreraANCC": {
        required: "Por favor ingrese el nombre de la carrera",
        lettersonly: "Solo letras"
      },
      "directorCarreraANCC": {
        required: "Por favor ingrese el nombre del director de la carrera",
        lettersonly: "Solo letras"
      },
      "perfilEgresoCarrera": {
        required: "Por favor ingrese el perfil de egreso de la carrera",
        lettersonly: "Solo letras"
      },
      "duracionCarrera": {
        required: "Por favor ingrese la duración de la carrera en años",
        number: "Solo números"
      },
      "logoCarreraANCC": {
        required: "Por favor seleccione el logo de la carrera"
      }
    }
  });
</script>

<script>
  $(document).ready(function () {
    $('#tbl_carrerasANCC').DataTable({
      dom: 'Bfrtip',
      buttons: [
        {
          extend: 'pdfHtml5',
          messageTop: 'PDF created by PDFMake with Buttons for DataTables.'
        },
        'print',
        'csv'
      ]
    });
  });
</script>

<div class="d-flex justify-content-center">
  <button id="toggleChartButton" onclick="toggleChart()" class="btn btn-info">Mostrar/ocultar gráfico</button>
</div>

<div id="chartContainer" style="width: 50%; margin: auto; border: 2px solid black; padding: 10px; display: none;">
  <canvas id="myChart"></canvas>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const ctx = document.getElementById('myChart');
    const tiposSet = new Set();
    const carrerasTipo = {};

    // Convierte datos de Django a formato JavaScript
    {% for carrera in carreraANCC %}
    tiposSet.add("{{ carrera.duracionCarrera }}");
    const duracionCarrera = "{{ carrera.duracionCarrera }}";
    carrerasTipo[duracionCarrera] = carrerasTipo[duracionCarrera] ? carrerasTipo[duracionCarrera] + 1 : 1;
    {% endfor %}

    const tiposArray = Array.from(tiposSet);
    const posiciones = tiposArray.map((tipo, index) => ({ x: index, y: carrerasTipo[tipo] || 0 }));

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: tiposArray,
        datasets: [{
          label: 'DURACIÓN DE LAS CARRERAS',
          data: posiciones.map(posicion => posicion.y),
          backgroundColor: 'rgba(75, 192, 192, 0.5)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1,
        }]
      },
      options: {
        scales: {
          x: {
            type: 'category',
            position: 'bottom',
          },
          y: {
            beginAtZero: true,
            max: 10,
            stepSize: 1,
          }
        }
      }
    });

    window.toggleChart = function () {
      const chartContainer = document.getElementById('chartContainer');
      chartContainer.style.display = chartContainer.style.display === 'none' ? 'block' : 'none';
    };
  });
</script>

{% endblock %}
